<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.AdminInfoMapper">
    <!--填写管理员个人信息-->
    <insert id="addAdminInfo" parameterType="com.qf.pojo.AdminInfo">
        insert into admininfo values (default ,#{adminid},#{adminname},#{worknumber},#{adminphone})
    </insert>

    <!--得到某个管理员的个人信息-->
    <select id="getAdminInfo" parameterType="int" resultType="com.qf.pojo.AdminInfo">
        select * from admininfo where adminid=#{adminid}
    </select>

    <!--根据工作证获取信息-->
    <select id="checkadmin" parameterType="String" resultType="com.qf.vo.AdministratorInfoVO">
        select a1.adminname,a2.* from administrator a1,admininfo a2,role r,administrator_role ar
        where a1.adminid=a2.adminid and a1.adminid=ar.adminid and r.roleid=ar.roleid and r.roleid!=1 and a2.work_number=#{work_number}
    </select>

    <!--修改信息-->
    <update id="updateAdminInfo" parameterType="com.qf.vo.AdministratorInfoVO">
        update admininfo set admin_name=#{admin_name},work_number=#{work_number},admin_phone=#{admin_phone} where adminid=#{adminid}
    </update>
</mapper>