<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.AuditMapper">

    <!--展示所有的审核订单-->
    <select id="selectAllAuditSingle" resultType="com.qf.vo.AuditVO">
        select a.*,u.user_name,h.h_name,h.h_type,h.rent_type,ha.provinces,ha.city,ha.address from
        audit a,userinfo u,houses h,house_address ha where
        a.userid=u.userid and a.housid=h.houseid and a.housid=ha.houseid
    </select>

    <!--根据审核状态查询订单-->
    <select id="checkaudit" resultType="com.qf.vo.AuditVO" parameterType="com.qf.vo.AuditVO">
        select a.*,u.user_name,h.h_name,h.h_type,h.rent_type,ha.provinces,ha.city,ha.address from
        audit a,userinfo u,houses h,house_address ha where
        a.userid=u.userid and a.housid=h.houseid and a.housid=ha.houseid and status=#{status}
    </select>
</mapper>