<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.HouseInfoMapper">

    <!--首页展示房源信息-->
    <select id="getHouseInfo" resultType="com.qf.vo.HouseInfoVO" parameterType="com.qf.dto.SearchHouseInfoDTO" >
      select a.houseid,a.h_price,a.h_type,b.sketch,c.picture,d.city from houses a,house_details b,house_picture
      c,house_address d where a.houseid=b.houseid and a.houseid=c.houseid and c.houseid=d.houseid
        <if test="city != null and city != ''">
            and city = #{city}
        </if>
        <if test="h_type !=null and h_type!=''">
            and h_type = #{h_type}
        </if>
    </select>

</mapper>