<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.MenuMapper">

    <resultMap id="menuList" type="com.qf.pojo.Menu">
        <id column="menuid" property="menuid"></id>
        <result column="menuname" property="menuname"></result>
        <result column="menu_url" property="menu_url"></result>
        <collection property="childMenu" ofType="com.qf.pojo.Menu">
            <id column="cmenuid" property="menuid"></id>
            <result column="cmenuname" property="menuname"></result>
            <result column="cmenu_url" property="menu_url"></result>
            <result column="cparentid" property="parentid"></result>
        </collection>
    </resultMap>
    <!--查询权限菜单-->
    <select id="initMenuList" resultMap="menuList" parameterType="com.qf.dto.LoginInfo">
        SELECT me.*,tab.menuid cmenuid,tab.menuname cmenuname,tab.menu_url cmenu_url, tab.parentid cparentid FROM menu me,
        (SELECT m.* FROM administrator a,administrator_role ar,role r,role_menu rm,menu m WHERE
        a.adminid=ar.adminid AND r.roleid=ar.roleid AND r.roleid=rm.roleid AND m.menuid=rm.menuid AND
        a.adminname=#{name} AND a.adminpassword=#{password}) tab
        WHERE me.menuid=tab.parentid
    </select>
</mapper>